body {
	max-width: 1920px;
	margin: auto;
	box-sizing: border-box;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color:#7e7e7e;
}
a {
	text-decoration: none;
}

ul, li {
	list-style: none;
}
header {
	width: 100%;
}
header .navbar-collapse {
}
.top-bar ul li {
	line-height: 10px;
}
header .top-bar ul li a{
	border-left: 1px solid #d9d9d9;
	font-size: 12px;
	padding-right: 10px;
}
#banner {
	height: 100%;

}
.logo {
	margin-top: 20px;
}
.contact p {
	display: inline-block;

}
.contact p:first-child {
	margin-right: 30px;
}
.contact {
	margin-top: 20px;
}
.glyphicon-earphone, .glyphicon-envelope {
	color: #5bb300;
	margin-right: 10px;
}
.contact p:last-child span:last-child {
	color: #5bb300;
}
.search {
	position: relative;
}
.search .form-control {
	height: 100%;
	border-radius: 7px;
	border:2px solid #cecece;
	width: 100%;
	z-index: 0;
	padding: 13px;
}
.search .form-search {
	display: inline-block;
}
select.form-search {
	position: absolute;
	top:15px;
	right: 60px;
	border:none;
	border-left: 1px solid #7e7e7e;
	z-index: 2;
	color: #7e7e7e;
}
button.form-search {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 10%;
	background-color: #5bb300;
}
.cart-wishlist div {
	display: inline-block;
}
.cart .shop {
	display: inline-block;
}
/*.cart-wishlist .wishlist {
	position: relative;
	top:35px;
}
.shop {
	top:17px;
}
.shop span {
	ma
}*/
.wishlist {
	margin-top: 35px;
}
.wishlist .glyphicon {
	margin-right: 5px;
}
.cart img {
	position: relative;
	top: -20px;
	left: 5px;
}
.cart span {
	padding-left: 5px;
}
.cart span p:last-child {
	font-weight: bold;
	font-size: 20px;
	color: #5bb300;
}
.menu {
	height: 100%;
	background-color: #5bb300;
	margin: 20px 0px 0px 0px;
}
.menu ul {
	text-align: center;
}
.menu ul li {
	display: inline-block;
	padding: 7px;
	margin: 6px 0px 0px 0px;

}
.menu ul li a {
	text-decoration: none;
	color: #ffffff;
	border-right: 1px solid #7e7e7e;
	padding-right: 15px;
}
.menu ul li:last-child a{
	border-right:none;
}
#slider {
	height: auto;
	background-color: #f6f6f6;
	width: 100%;
	margin: 0px auto;
	color: #636363;
}
#slider p:first-child {
	margin-top: 35px;
	font-size: 50px;
	color: #636363;
}
#slider p:nth-child(2) {
	font-weight: bold;
	font-size: 100px;
}
#slider p:nth-child(3) {
	font-size: 20px;
}
#shop-now {
	height: auto;
	width: auto;
	background-color: #5bb300;
	border-radius: 5px;
	border:none;
	padding: 10px;
}
#shop-now span {
	font-size: 15px;
	color: #ffffff;
}
#ads {
	width: 100%;
	margin:0px auto;
	margin-top: 20px;
	margin-left: -15px
}
#bestseller {
	width: 100%;
	margin:0px auto;
	background-color: #f8f8f8;
	margin-top: 20px;
}
.header-tittle {
	margin: 80px 0px 40px 10px;
	color: #0c0c0c;
}
.seller {
	box-sizing: border-box;
	border-right: 1px solid #f6f6f6;
	padding: 0px !important;
}
.seller img {
	width: 100%;
}
.title-seller {
	color: #1257ab;
	font-weight: bold;
	font-size: 14px;
	margin: 20px 0px 5px 10px;
}
.manufacturer-seller {
	font-size: 10px;
	margin: 10px 0px 5px 15px;

}
.price-seller {
	font-size: 18px;
	float: right;
	margin: 10px 15px 5px 0px;
	color: #1257ab;
	font-weight: bold;
}
hr {
	width: 70%;
	margin: auto;
}
.img-right {
	margin-left:-9px;
}
.img-right .slider-tab {
	margin:20px 0px 0px 20px;
}
.slider-tab > img {
	border-bottom: 2px solid #5bb300;
}
.img-right .title-seller {
	font-size: 24px;
	font-weight: bold;
	color: #1257ab;
	margin: 20px 0px 0px 20px;
}
.img-right .manufacturer-seller {
	font-size: 13px;
	margin: 20px 0px 0px 20px;
}
.img-right hr {
}
.img-right .price-seller {
	float: none;
	display: inline-block;
	font-size: 25px;

}
.img-right .add-cart {
	background-color: #5bb300;
	color: #ffffff;
	height: 45px;
	width: 145px;
	font-size: 20px;
	border:none;
	border-radius: 3px;
	display: inline-block;
}
.img-right .price-cart {
	float: right;
}
#product-tab {
	margin: 130px 0px 0px 0px;
	width: 100%;
}
#product-tab .nav-tabs > li.active > a {
	background-color: #5bb300;
	color: #ffffff;
	font-size: 20px;
	padding: 12px;
	text-align: center;
	width: 190px;
}
.tab-content .tab-pane {
	width: 100%;
	margin: 0px;
}
.tab-content .tab-pane  > div {
	padding: 0px;
	border:1px solid #f6f6f6;
	margin: 0px;	
}
.content img{
	width: 100%;
}
.content span {
	margin:auto;
	background-color: #5bb300;
	text-transform: uppercase;
	padding: 0px;
}
.price-product p {
	display: inline-block;
}
.content hr {
	width: 80%;
}
.content .price-defeault {
	color: #b7b7b7;
	float: left;
	margin: 0px 0px 0px 15px;
	font-weight: bold;
}
.price-product {
	margin: -15px 0px 0px 0px;
}
#footer-product {
	width: 100%;
	background-color: #f8f8f8;
	margin: 40px 0px 0px 0px;
}
.feature-product h2 {
	color: black;
	font-size: 30px;
	margin: 0px 0px 20px 0px;
}
.feature {
	margin: 0px 0px 10px 0px;
}
.featured-product hr {
	width: 100%;
	float: left;
}
.title-feature {
	color: #2162b0;
	font-weight: bold;
	margin: 30px 0px 5px 0px;
	text-decoration: none !important;
}
.price-feature {
	font-size: 15px;
	text-decoration: none;
}
.price-feature span {
	margin: 5px 20px 0px 0px;
	color: #cccccc;
	text-decoration: line-through;
}
#subscribe {
	margin: 40px 0px 0px 0px;
}
.enter-mail {
	width: 80%;
	height: 60px;
	padding: 10px;
	border-radius: 5px;
	border:2px solid #cccccc;
}
.submit-sub {
	height: 60px;
	background-color: #5bb300;
	color: #ffffff;
	font-weight: bold;
	border:none;
	margin: 0px 0px 0px -15px;
	width: 20%;
	border-top-right-radius: 5px;
}
#widget {
	width: 100%;
	margin: 50px 0px 0px 0px;
	background-color: #f8f8f8;

}
#widget > div {
	margin:30px 0px 0px 0px;
}
.introduction p:nth-child(2) {
	color:#868686;
	font-size: 13px;
	padding:20px 0px 20px 0px;

}
.introduction a {
	color: #5bb300;
	text-decoration: underline;
}
.introduction a:hover {
	color: #5bb300;
}

.introduction p:nth-child(4) {
	padding:20px 0px 0px 0px;
	color: #575757;
	font-size: 20px;
	font-weight: bold;
}
.find-fast h2 {
	color: #575757;
	font-size: 20px;
	padding: 0px 0px 20px 0px;
	font-weight: bold;
}
.find-fast > li {
	padding: 5px;
}
.find-fast > li a{
	color: #868686;
	text-decoration: none;
}
.infomation h2 {
	color: #575757;
	font-size: 20px;
	padding: 0px 0px 20px 0px;
	font-weight: bold;
}
.infomation > li {
	padding: 5px;
}
.infomation > li a{
	color: #868686;
	text-decoration: none;
}

.customer-care h2 {
	color: #575757;
	font-size: 20px;
	padding: 0px 0px 20px 0px;
	font-weight: bold;
}
.customer-care > li {
	padding: 5px;
}
.customer-care > li a{
	color: #868686;
	text-decoration: none;
}
#copyright {
	width: 100%;
	background-color: #3c3c3c;
	margin: 20px 0px 0px 0px;
}
#copyright p{
	margin: 20px 0px 0px 0px;
	color: #848484;
}
#copyright p span {
	color: #ffffff
}
.cash-logo {
	margin: 10px 0px 10px 0px;
}
.cash-logo img {
	display: inline-block;
	margin: 10px 5px 0px 0px;
}

#recently-viewed {
	width: 100%;
	margin: 50px 0px 0px 0px;
}
#recently-viewed > div {
	margin: 0px auto;
}
.prev-next {
	margin: 30px 0px 0px 0px;
}
.slide-viewed img {
	width: 100%;
}
.slide-viewed {
	padding: 0px !important;
	border-right: 1px solid #f6f6f6;
}
#top-brand {
	width: 100%;
	margin: 50px 0px 0px 0px;
}